<html>
	<head>
		<link rel=stylesheet type=text/css
		href="{{ url_for('static', filename = 'styles.css')}}">
	</head>
	<body>
		<div class='pane'>
		<div class='header'>
		<!-- Using restaurant query result from main.py -->
		<h1> {{ restaurant.name }} </h1>
		</div>

		<div class='flash'>
		<!-- Display confirmation/feedback messages if any
			 get_flashed_messages() returns all the flash messages stored
			 in  session
			 with provides block boundary for variable/object accessibility
			 So messages won't be accessible outside of the with block
		-->
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul>
					{% for message in messages %}
						<li> <strong> {{message}} </strong> </li>
					{% endfor %}
				</ul>
		    {% endif %}
		{% endwith %}
		</div>

		<!-- Add a link to create new menu item -->
		<a href="{{ url_for('addNewMenuItem', restaurant_id
		         = restaurant.id) }}"> Create New Item </a>

		<!-- Using menuItems query result from main.py -->
		{% for i in menuItems %}

		<div class='nameAndprice'>
		<span class='name'> <p> {{ i.name }} ..................................... </p> </span>
		</span>
		<p>  </p>
		<span class='price'> <p> {{ i.price }} </p> </span>
		</div>

		<div class='description'> <p> {{ i.description }} </p> </div>

		<!-- url_for is a flask feature that helps to build a URL
		     to a specific python function. It accepts the name of the function as first argument and a number of keyword arguments, each corresponding to the variable part of the URL rule. 
	    -->

		<div class='editdeletepane'>
		<!-- Creating links to edit and delete menu item which calls
	         editMenuItem and deleteMenuItem functions respectively,
	         from the main.py file.
		-->
		<a href= {{ url_for('editMenuItem', restaurant_id
		          = restaurant.id, item_id = i.id)}}> Edit </a>
		<a href= {{ url_for('deleteMenuItem', restaurant_id
		          = restaurant.id, item_id = i.id)}}> Delete </a>
		</div>
		{% endfor %}

		</div>
	</body>
</html>
