<html>
	<head>
		<link rel=stylesheet type=text/css
		href="{{ url_for('static', filename = 'styles.css')}}">
	</head>
	<body>
		<h1> Add New Menu Item </h1>

		<!-- After the form to create new menu item is submitted,
			 we have to call the python function to add new menu
			 item and post all the data. We also have to pass the
			 restaurant id as the python function require that as
			 a parameter.
		-->
		<form action='{{ url_for('addNewMenuItem', restaurant_id
		                =restaurant_id) }}' method='POST'>
		    <p> Name: </p>
		    <input type='text' size='30' name='name'> </br> </br>

		    <p> Description: </p>
		    <textarea name="description" cols="40" rows="5"></textarea>
		    </br> </br>

			<p> Price: </p>
		    <input type='text' size='8' name='price'> </br> </br>

		    <input type='submit' value='Create'>
		</form>
	</body>
</html>